/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgb(230, 108, 87);
    z-index: 999;
}

.header img {
    max-width: 150px;
}
.header-spacer {
    min-height: 150px;
}

#header{
    padding: 0;
}

.header .nav-item a {
    font-size: 26px;
    line-height: 24px;
    font-weight: 600;
    padding: 11px 16px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    border-radius: 5px;
    margin: 14px 0;
}

.header .navbar-toggler {
    outline: none;
}

.header .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #121212;
    margin: 5px 0;
    display: block;
    position: relative;
}

.header .navbar-collapse .nav-item {
    padding: 12px 0;
}

.header-spacer {
    height: 76px;
}

.logo {
    height: 80px;
    width: 80px;
}
.cart-logo {
    height: 30px;
    width: 30px;
}
/*PRODUCTS INDEX*/
.product-container {
    display: inline-block;
    width: 300px;
    height: 250px;
    margin: 20px;
   
}
.product-image img{
    cursor: pointer;
    display:flex;
    width: 300px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(18, 1, 1, 0.379);
}
.product-name {
    font-size: 24px;
    line-height: 24px;
    color: #393838;
    margin-top: 10px;
    text-align: center;
}
.product-price {
    line-height: 24px;
    color: #393838;
    margin-top: 10px;
    text-align: center;
}

/*PRODUCT PAGE*/
/*.product-detail-container {
    margin-top: 26px;
}
.product-detail-container img{
    margin-bottom: 30px;
}
.product-detail-container h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #3c3a3a;
    margin: 30px;
    text-align: center;
}

/*#add-to-cart-button {
    position: relative;
    font-size: 15px;
    color: #1a1a1a;
    padding: 12px 24px;
    border: 0;
    text-align: center;
    border-radius: 4px;
    background-color: #de9797;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
}
   
/*FOOTER*/

.footer-area{
   
}

#lower-footer{
    padding: 15px;
    margin-top: 50px;
    border-top: 1px solid black;
    bottom: 0;
}

#lower-footer h6{
    font-size: 10px;
    color:black;
}
